body {
    background-color: #040404;
    margin: 0;
    
}

h2,
h3,
h4 {
    color: #E3ABFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    color: white;
    font-weight: 300;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
   
}

h2 {
    font-weight: 100;
}


h3,
h4 {
    font-weight: 400;
}


footer {
    background-color: #E3ABFF;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

@media only screen and (max-width:600px)
{
    .bg {
        max-width: 100%;
        background-image: url("../assets/Unicorndesktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        min-height: 450px;
    }

    
} 
 

 .h1 {
        font-size: 300%;
    }

    
.h2 {
        font-size: 150%;
        margin-top: -50px;
    }




.bg {
    background: url("../assets/Unicorndesktop.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    min-height: 450px;
    font-family: 'Roboto', sans-serif;
    }


.unicornContainer {
    color: #ffffff;
    display: flex;
    flex-direction: column; 
    align-items: left; 
    position: relative;
    top: 35%;
    font-size: 300%;
    padding: 20px;
}
    
.fullStackContainer {
    color: #ffffff;
    font-size: 100;
    padding-left: 20px;
    margin-top: -15px;
    
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.centerSvgs {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  
}

.paragraph {
    max-width: 300px;
    text-align: left;
}

.paragraphPosition {
    text-align:justify;
  width:250px;
  margin: 0 auto;
    
}

a:visited,a:link {
    color:#040404;
    text-decoration: none;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    gap: 10px;
    
    width: 144px;
    height: 48px;
    
    background: #E3ABFF;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    
    }

.btn:hover,.btn:focus  {
        background-color: #95FF8F;
    }


    


.footer {
    display:flex;
flex-direction:row;
align-items: center;
justify-content:center;
flex-wrap:wrap-reverse;
}