body {
    background-color: #040404;
    margin: 0;
    color: #ffffff;
    
}

h2,
h3,
h4 {
    color: #E3ABFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    color: white;
    font-weight: 300;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #E3ABFF;
   
}

h2 {
    font-weight: 100;
}


h3,
h4 {
    font-weight: 400;
}


footer {
    background-color: #E3ABFF;
    min-width: 100%;
    height: 50px;
    margin-top: 20px;
}


 

 .h1 {
        font-size: 300%;
    }

    
.h2 {
        font-size: 150%;
        margin-top: -50px;
    }




.bg {
    background: url("../assets/Unicornsmall.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
   
    min-width: 448px;
    min-height: 600px;
    font-family: 'Roboto', sans-serif;
    }

.nameAndTitle {
    justify-content: center;
    text-align: center;
    padding: auto;

}



.paragraph {
        max-width: 300px;
        text-align: left;
    }
    
.position {
    display: grid;
        text-align:justify;
      width:250px;
      margin: 0 auto;
      align-items: center;
        
    }

.unicornContainer {
    color: #ffffff;
    display: flex;
    flex-direction: column; 
    align-items: left; 
    position: relative;
    top: 35%;
    font-size: 300%;
    padding: 20px;
    padding-left: 20px;
}
    
.fullStackContainer {
    color: #ffffff;
    font-size: 100;
    padding-left: 20px;
    margin-top: -15px;
    
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}

.centerSvgs {
display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  justify-content: center;

}



a:visited,a:link {
    color:#040404;
    text-decoration: none;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    gap: 10px;
    
    width: 144px;
    height: 48px;
    
    background: #E3ABFF;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    
    }

a:hover,a:focus  {
        background-color: #95FF8F;
    }


.gameboy {
        display: flex;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            margin: 0 auto;
            
            
    }
    


.footer {
    display:flex;
flex-direction:row;
align-items: center;
justify-content:center;
flex-wrap:wrap-reverse;
}

@media only screen and (min-width:652px)
{

    .unicornContainer {
        padding-left: 40px;
    }
        
    .fullStackContainer {
        padding-left: 40px;
        
    }

    .bg {
        background: url("../assets/Unicorndesktop.png");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
       
        min-width: 200px;
        min-height: 600px;
        font-family: 'Roboto', sans-serif;
        }

        .svg1 {
            
            padding-left: 30%;
        }
        .svg2 {
            
            padding-right: 30%;
        }

    .paragraph {
            max-width: 600px;
            text-align: left;
        }
        
    .paragraphPosition {
            text-align:justify;
          max-width:250px;
          margin:auto;
            
        }

    .desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    
    .gameboy {
        display: flex;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            margin: 0 auto;
            
            
    }
} 


@media only screen and (min-width:1024px)
{
 
    .unicornContainer {
        font-size: larger;
    }
        
    .fullStackContainer {
        padding-left: 40px;
        
    }

    .gameboy {
        display: flex;
            justify-content: center;
            align-items: center;
            max-width: 700px;
    }
    
    

} 